<div class="admin_item_show_title">
  <h1>商品詳細</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="admin_item_show_img">
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "500x300" %>
        <% else %>
          <%= image_tag 'no_image', size: "500x300" %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <table>
        <tr><th width="100" height="60">商品名</th><td><%= @item.product_name %></td></tr>
        <tr><th width="100" height="60">年式</th><td><%= @item.year %>年</td></tr>
        <tr><th width="100" height="60">走行</th><td><%= @item.mileage %>万km</td></tr>
        <tr><th width="100" height="60">車検</th><td><%= @item.inspection %></td></tr>
        <tr><th width="100" height="60">修復</th><td><%= @item.repair %></td></tr>
        <tr><th width="100" height="60">整備</th><td><%= @item.maintenance %></td></tr>
        <!--add_tax_price（性込価格は）はitemモデルに定義してます。-->
        <tr><th width="100" height="60">税抜価格<p>（税込価格）</p></th><td><%= number_with_delimiter(@item.price) %>円 <p>（<%= number_with_delimiter(@item.add_tax_price) %>）円</p></td></tr>
      </table>
    </div>
  </div>
</div>
<div class="admin_item_edit_btn">
  <%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-primary' %>
</div>