<div class="admin_order_titl">
  <h1>注文履歴詳細</h1>
</div>
<div class="container">
  <div class="row">
    <div class="admin_order_user">
      <table>
        <tr><th width="130" height="60">購入者</th><td><%= link_to admin_customer_path(@order) do %>
                                                        <%= @order.customer.last_name %><%= @order.customer.first_name %>
                                                        <% end %></td></tr>
        <tr><th width="130" height="60">注文日</th><td><%= @order.created_at.strftime("%Y/%m/%d %H:%M") %></td></tr>
        <tr><th width="130" height="60">配送先</th><td>〒<%= @order.shipping_postal_code %><%= @order.shipping_address %>
                                                        <p><%= @order.shipping_name %></p></td></tr>
        <tr><th width="130" height="60">支払方法</th><td><%= @order.payment_method_i18n %></td></tr>
      </table>
    </div>
  </div>

   <div class="row">
    <div class="col-8">
      <div class="admin_order_item">
        <table>
            <thead>
              <tr>
                <th width="130" height="60">商品名</th>
              <th width="130" height="60">単価(税込)</th>
              <th width="130" height="60">個数</th>
              <th width="50" height="60">小計</th>
            </tr>
          </thead>

          <tbody>
            <% @order.order_details.each do |order_detail| %>
              <tr>
                <td><%= order_detail.item.product_name %></td>
                <td><%= order_detail.purchase_price %></td>
                <td><%= order_detail.amount %><td/>
                <td><%= order_detail.subtotal%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4">
      <div class="admin_order_prices">
        <table>
          <tr><th width="130" height="60">商品合計</th><td><%=  @order.total_amount - @order.postage %>円</td></tr>
          <tr><th width="130" height="60">送料</th><td><%= @order.postage %>円</td></tr>
          <tr><th width="130" height="60">請求金額合計</th><td><%= @order.total_amount.to_s(:dalimited) %>円</td></tr>
        </table>
      </div>
    </div>
  </div>
</div>