<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>ショッピングカート</h1>
    </div>
    <div class="col-6">
      <div class="destroy_all_btn">
        <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, "data-confirm" => "本当に空にしますか？", class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
  <div class="row">
    <table border="1">
      <thead>
        <tr>
          <th width="700" height="60">商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= image_tag cart_item.item.image, size: "50x50" %>
              <%= cart_item.item.product_name %>
            </td>
            <!--税込価格(税率10%)はitemモデルにメソッド作成してます。-->
            <td><%= number_with_delimiter(cart_item.item.add_tax_price) %>円</td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
                <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
                <%= f.submit "変更",class: "btn btn-success" %>
              <% end %>
            </td>
            <!--小計はcart_itemモデルにメソッド作成してます。-->
            <td><%= number_with_delimiter(cart_item.subtotal) %>円</td>
            <td><%= link_to "削除", cart_item_path(cart_item.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="continue_shopping_btn">
        <%= link_to "買い物を続ける", root_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="col-6">
      <div class="cart_total">
        <table border="1">
          <thead>
            <tr>
              <th width="100" height="60">合計金額</th>
              <th><%= number_with_delimiter(@total) %>円</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="information_btn">
      <p><%= link_to "購入手続きに進む", new_order_path, class: 'btn btn-success' %>
      </p>
    </div>
  </div>
</div>