<div class="order_new_title">
  <h1>注文情報入力</h1>
</div>

<%= form_with model: @order, url: "/orders/confirm",method: :post, local: true do |f| %>

  <h2>支払方法</h2>
  <div class="payment">
    <!--クレジットカードのラジオボタンにデフォルトでチェックが入った状態にしてます。-->
    <%= f.radio_button :payment_method, Order.payment_methods.key(0),checked: true %>
    <!--クレジットカードのラベル-->
    <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

    <!--銀行振込のラジオボタン-->
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <!--銀行振込のラベル-->
    <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
  </div>

  <h2>お届け先</h2>
  <div class="addressee">
    <div>〒<%= current_customer.postal_code %>
          <%= current_customer.address %>
    </div>
    <div><%= current_customer.first_name %><%= current_customer.last_name %></div>
  </div>
  <div class="confirmation_btn">
    <%= f.submit "確認画面へ進む" %>
  </div>

<% end %>