<div class="item_index_title">
  <h1>商品一覧(全<%= @items.count %>件)</h1>
</div>
<div class="item_index">
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, size: "200x200" %>
          <% end %>
        </td>
        <td><%= link_to item.product_name,item_path(item.id) %></td>
        <td>¥<%= link_to number_with_delimiter(item.price) ,item_path(item.id) %></td>
      </tr>
    <% end %>
  </tbody>
</div>

<%= paginate @items %>