<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="item_show_img">
        <div><%= image_tag @item.image, size: "500x300" %></div>
      </div>
    </div>
    <div class="col-md-6">
      <h2><%= @item.product_name %></h2>
      <div class="item_show">年式　　　<%= @item.year %>年</div>
      <div class="item_show">走行　　　<%= @item.mileage %>万km</div>
      <div class="item_show">車検　　　<%= @item.inspection %></div>
      <div class="item_show">修理　　　<%= @item.repair %></div>
      <div class="item_show">整備　　　<%= @item.maintenance %></div>
      <div class="item_show">¥<%= @item.add_tax_price.to_s(:dalimited) %>(税込）</div>
      <%= form_with(model: @cart_item,url: cart_items_path, method: :post )do |f| %>
        <%= f.label :amount, "個数選択" %>
        <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </div>
  </div>
</div>
