<header>
  <ul>
    <% if customer_signed_in? %>
      <!--顧客がログインしている時　-->
      <li><%= link_to 'マイページ', customers_my_page_path, class: 'btn btn-light' %></li>
      <li><%= link_to "商品一覧", items_path, class: 'btn btn-light' %></li>
      <li><%= link_to "カート", cart_items_path, class: 'btn btn-light' %></li>
      <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-light' %></li>
    <% elsif admin_signed_in? %>
      <!--管理者がログインしている時 -->
      <li><%= link_to "商品一覧", admin_items_path, class: 'btn btn-light' %></li>
      <li><%= link_to "会員一覧", admin_customers_path, class: 'btn btn-light' %></li>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-light' %></li>
    <% else %>
      <!--ログインしていない時　-->
      <li><%= link_to "会社概要", company_profile_path, class: 'btn btn-light' %></li>
      <li><%= link_to "商品一覧", items_path, class: 'btn btn-light' %></li>
      <li><%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-light' %></li>
      <li><%= link_to "ログイン", new_customer_session_path, class: 'btn btn-light' %></li>
      <li><%= link_to "ゲストログイン（閲覧用）", customer_guest_sign_in_path, class: 'btn btn-light', method: :post %></li>
    <% end %>
  </ul>
</header>